body {
    font-family: 'Roboto', sans-serif;
    color:#303030;
    margin: 5% 10% 5% 10%;
}

h1 {
    font-size: 4vw;
    text-align: center;
    text-decoration-line: underline;
    font-weight: bold;
}

h4 {
    font-weight: normal;
    font-size: 3vw;
    font-style: italic;
    display: inline;
}

.donot {
    font-weight: bold;
    font-style:italic;
    font-size: 3vw;
    display: inline;
}

.text {
    font-weight: bold;
    font-size: 3vw;
    
}

form {
    display: inline-block;
}

input {
    margin: auto;
    padding: 2% 55% 2% 2%;
    font-size: 3vw;
    border: 1px solid black;
    display: inline-block;
} 

input:focus {
    outline: 0;
    background: white;
}
      
input:valid {
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px 20px;
}

input:invalid:focus:not(:placeholder-shown) ~ .requirements {
    max-height: 200px;
    padding: 0 20px 20px 100px;
}   
    
.requirements {
    padding: 0 20px 0 50px;
    color: #999;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: red;
    font-style: italic;
}